
<div class="container mt-2 bg-white">
  <div class="row align-items-start">
    <div class="col">

      <div class="card text-white" style="width: 18rem; background-color: #092532;">
        <div class="card-body ">
          <h5 class="card-title">Card title</h5>
          <h6 class="card-subtitle mb-2">Card subtitle</h6>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="card-link">Card link</a>
          <a href="#" class="card-link">Another link</a>
        </div>
      </div>

    </div>
    <div class="col">
      
      <div class="card text-white" style="width: 18rem; background-color:#092532;">
        <div class="card-body ">
          <h5 class="card-title">Card title</h5>
          <h6 class="card-subtitle mb-2">Card subtitle</h6>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="card-link">Card link</a>
          <a href="#" class="card-link">Another link</a>
        </div>
      </div>

    </div>
    <div class="col">
      <div class="card text-white" style="width: 18rem; background-color:#092532;">
        <div class="card-body ">
          <h5 class="card-title">Card title</h5>
          <h6 class="card-subtitle mb-2">Card subtitle</h6>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="card-link">Card link</a>
          <a href="#" class="card-link">Another link</a>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12 table-responsive">
      <table class="table  table-border">
        <thead>
          <tr>
            <th scope="col">Nombres</th>
            <th scope="col">Apellidos</th>
            <th scope="col">Tipo</th>
            <th scope="col">Documento</th>
            <th scope="col">Nacimiento</th>
            <th scope="col">Correo</th>
            <th scope="col">Completado</th>
            <th scope="col">Validaciones</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@test</td>
            <td>@fabio</td>
            <td>@mdo</td>
            <td>@asdas</td>
            <td>@kevin</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@test</td>
            <td>@fabio</td>
            <td>@mdo</td>
            <td>@asdas</td>
            <td>@kevin</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  
 
  
  
</div>

