.responsive {
    width: 65%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}

.btn-large{
    background-color: #A5B5FC ;
    color: black;
    //height: 137px;
    width: 546px;
}
.btn-medium{
    background-color: #A5B5FC ;
    color: black;
    height: 60px;
    width: 285px;
}
.btn-small{
    background-color: #A5B5FC ;
    color: black;
    height: 50px;
    width: 208px;
}
.btn-forgot{  
    color: black;
    //height: 137px;
    width: 546px;
}

.input{
    height: 137px;
    width: 546px;
}