<!--<c-header class="mb-4 d-print-none" position="sticky">-->
<ng-container>
  
  <div class="row m-0">

    <div class="col-sm-1 col-lg-1 col-md-1">
      <button toggle="visible" cHeaderToggler [cSidebarToggle]="sidebarId" class="ps-1">
        <svg cIcon name="cilMenu" width="10px" size="sm"></svg>
      </button>
    </div>
    
    <div class="col-sm-5 col-lg-5 col-md-5">
      <div class="input-group">
        <span class="input-group-text border-0 bg-transparent" id="basic-addon1">@</span>
        <input type="text" class="form-control border-0" placeholder="Buscar..." aria-describedby="basic-addon1">
      </div>
    </div>
    
    <div class="col-sm-3 col-lg-3 col-md-3">
      <div class="input-group">
        <input type="text" class="form-control " placeholder="Abril/2022 - Mayo/2022" aria-label="Username"
          aria-describedby="basic-addon1">
      </div>
    </div>
    
    <div class="col-sm-3 col-lg-3 col-md-3">
      <div class="input-group ps-4">
        <button (click)="(openModal(link))" class="btn btn-primary">@ Nuevo link de Validación</button>
      </div>
    </div>
  </div>



  <!-- <c-container [fluid]="true">
    
    <c-header-nav class="d-none d-lg-flex me-auto">
      <c-nav-item>
        <a cNavLink routerLink="/dashboard" routerLinkActive="active">
          Dashboard
        </a>
      </c-nav-item>
      <c-nav-item>
        <a cNavLink routerLink="/users" routerLinkActive="active">Users</a>
      </c-nav-item>
      <c-nav-item>
        <a cNavLink routerLink="/settings" routerLinkActive="active">
          Settings
        </a>
      </c-nav-item>
    </c-header-nav>

    <c-header-nav class="d-none d-lg-flex">
      <c-nav-item>
        <a routerLink="./" cNavLink>
          <svg cIcon name="cilBell" size="lg"></svg>
        </a>
      </c-nav-item>
      <c-nav-item>
        <a routerLink="./" cNavLink>
          <svg cIcon name="cilList" size="lg"></svg>
        </a>
      </c-nav-item>
      <c-nav-item>
        <a routerLink="./" cNavLink>
          <svg cIcon name="cilEnvelopeOpen" size="lg"></svg>
        </a>
      </c-nav-item>
    </c-header-nav>
    <c-header-nav class="ms-0">
      <ng-container *ngTemplateOutlet="userDropdown"></ng-container>
    </c-header-nav>
  </c-container> -->

  <!-- <c-header-divider></c-header-divider>
  <c-container [fluid]="true">
    <c-breadcrumb-router class="ms-2"></c-breadcrumb-router>
  </c-container> -->
</ng-container>
<!--</c-header>-->

<ng-template #userDropdown>
  <!-- <c-dropdown alignment="end" variant="nav-item">
    <button
      cButton
      color=""
      [caret]="false"
      cDropdownToggle
      class="py-0"
    >
      <c-avatar
        cTextColor="primary"
        shape="rounded-1"
        size="md"
        src="./assets/img/avatars/8.jpg"
        status="success"
      >
      </c-avatar>
    </button>
    <ul cDropdownMenu class="pt-0 pr-5 w-auto">
      <li>
        <h6 cDropdownHeader class="bg-light fw-semibold py-2">Account</h6>
      </li>
      <li>
        <a routerLink="./" cDropdownItem>
          <svg cIcon class="me-2" name="cilBell"></svg>
          Updates
          <c-badge class="ms-2 float-end" color="info">
            42
          </c-badge>
        </a>
      </li>
      <li>
        <a routerLink="./" cDropdownItem>
          <svg cIcon class="me-2" name="cilEnvelopeOpen"></svg>
          Messages
          <c-badge class="ms-2 float-end" color="success">
            42
          </c-badge>
        </a>
      </li>
      <li>
        <a routerLink="./" cDropdownItem>
          <svg cIcon class="me-2" name="cilTask"></svg>
          Tasks
          <c-badge class="ms-2 float-end" color="danger">
            42
          </c-badge>
        </a>
      </li>
      <li>
        <a routerLink="./" cDropdownItem>
          <svg cIcon class="me-2" name='cilCommentSquare'></svg>
          Comments
          <c-badge class="ms-auto" color="warning">
            42
          </c-badge>
        </a>
      </li>
      <li>
        <h6 cDropdownHeader class="bg-light fw-semibold py-2">Settings</h6>
      </li>
      <li></li>
      <li>
        <a routerLink="./" cDropdownItem>
          <svg cIcon class="me-2" name="cilUser"></svg>
          Profile
        </a>
      </li>
      <li>
        <a routerLink="./" cDropdownItem>
          <svg cIcon class="me-2" name="cilSettings"></svg>
          Settings
        </a>
      </li>
      <li>
        <a routerLink="./" cDropdownItem>
          <svg cIcon class="me-2" name="cilCreditCard"></svg>
          Payments
          <c-badge class="ms-2 float-end" color="secondary">
            42
          </c-badge>
        </a>
      </li>
      <li>
        <a routerLink="./" cDropdownItem>
          <svg cIcon class="me-2" name="cilFile"></svg>
          Projects
          <c-badge class="ms-2 float-end" color="primary">
            42
          </c-badge>
        </a>
      </li>
      <li>
        <hr cDropdownDivider/>
      </li>
      <li>
        <a routerLink="./" cDropdownItem>
          <svg cIcon class="me-2" name="cilLockLocked"></svg>
          Lock Account
        </a>
      </li>
      <li></li>
    </ul>
  </c-dropdown> -->

</ng-template>



<ng-template #link let-modal>
	<div class="modal-header">
		<h4 class="modal-title text-uppercase text-black"> <strong> Link de validacion </strong> </h4>
		<button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
	</div>
	<div class="modal-body">
    <p class="text-black"> <strong>comparte esta direccion</strong></p>
    <div class="row">
      <div class="col-md-12">
        <div class="input-group input-group-lg mb-3">
          <span class="input-group-text text-white border-0" id="basic-addon1">icono</span>
          <input class="form-control border-0 text-center" rows="2" cols="2" placeholder="link" aria-label="With textarea" readonly>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-6 d-grid gap-2  mx-auto">
        <button (click)="copyHeroName()" class="btn btn-light btn-lg"> Copiar</button>
        
      </div>
      <div class="col-6  d-grid gap-2 mx-auto">
        <button class="btn btn-light btn-lg"> Compartir</button>
      </div>
    </div>


		
	</div>
	<!-- <div class="modal-footer">
		<button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
	</div> -->
</ng-template>